@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* Header. */

header {
    padding: 0.5em;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #FEFEFE;
    box-shadow:
    0px 0.2px 0.3px rgba(0, 0, 0, 0.011),
    0px 0.3px 0.7px rgba(0, 0, 0, 0.016),
    0px 0.6px 1.2px rgba(0, 0, 0, 0.019),
    0px 0.9px 1.7px rgba(0, 0, 0, 0.022),
    0px 1.3px 2.5px rgba(0, 0, 0, 0.025),
    0px 1.8px 3.5px rgba(0, 0, 0, 0.028),
    0px 2.5px 5px rgba(0, 0, 0, 0.031),
    0px 3.7px 7.3px rgba(0, 0, 0, 0.034),
    0px 5.6px 11.3px rgba(0, 0, 0, 0.039),
    0px 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
}

header .header-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo-cinfo {
    height: 3em;
}

header .header-menu {
    display: flex;
    gap: 3em;
}

header .header-menu a {
    text-decoration: none;
    color: #161A37;
    font-weight: 600;
    position: relative;
}

header .header-menu p {
    text-decoration: none;
    color: #161A37;
    font-weight: 600;
    position: relative;
}

header .dropdown-content {
    background-color: #FEFEFE;
    display: none;
    position: absolute;
    overflow: auto;
    border-radius: 2px;
    box-shadow:
    0px 0px 0.3px rgba(0, 0, 0, 0.011),
    0px 0px 0.7px rgba(0, 0, 0, 0.016),
    0px 0px 1.2px rgba(0, 0, 0, 0.019),
    0px 0px 1.7px rgba(0, 0, 0, 0.022),
    0px 0px 2.5px rgba(0, 0, 0, 0.025),
    0px 0px 3.5px rgba(0, 0, 0, 0.028),
    0px 0px 5px rgba(0, 0, 0, 0.031),
    0px 0px 7.3px rgba(0, 0, 0, 0.034),
    0px 0px 11.3px rgba(0, 0, 0, 0.039),
    0px 0px 20px rgba(0, 0, 0, 0.05);
}

header .dropdown-content ul a{
    color: #161a37;
    font-weight: 500;
}

header .dropdown-content ul li {
    padding: 0.5em;
}

header .item-dropdown-content {
    border-bottom: 0.01px solid #161a37;
}

header .dropdown-content ul li:hover {
    background-color: #161a37;
    color: #FEFEFE;
    transition: 200ms ease-in-out;
}

header .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    width: 17em;    
}

header .header-menu-languages ul {
    display: flex;
    gap: 2em;
    list-style: none;
}

header .header-menu-languages ul a img{
    width: 1em;
}

/* Main. */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEFEFE;
}

/* Seção de introdução. */

.texto-introducao {
    margin: 1em;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-introducao .texto h1 {
    text-align: center;
    font-weight: 700;
    font-size: 1.9em;
}

.texto-introducao .texto p {
    text-align: justify;
    font-weight: 500;
    font-size: 0.9em;
    margin: 0.5em;
}

.texto-introducao .imagens-introducao {
    display: flex;
    flex-direction: row;
    gap: 5em;
    padding-top: 1em;
}

.texto-introducao .imagens-introducao img {
    height: 3.5em;
}

/* Seção de notícias. */

.noticias {
    background-color: #02B4E2;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noticias .title-noticias {
    color: #FEFEFE;
}

.noticias .cards-noticias {
    margin: 1em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.noticias .card-noticia {
    border-radius: 5px;
}

.noticias .card-noticia .square{
    border-radius: 10px 10px 0 0;
    background-color: #161A37;
    width: 19em;
    height: 10em;
}

.noticias .card-noticia .texto-noticia {
    border-radius: 0 0 10px 10px;
    background-color: #F1F1F1;
    height: 8em;
    padding: 0.5em;
}

.noticias .card-noticia .texto-noticia  {
    border-radius: 0 0 10px 10px;
    background-color: #F1F1F1;
    height: 8em;
}

.noticias .card-noticia .texto-noticia .topico-noticia {
    color: #1549B3;
    font-weight: 600;
    font-size: 0.7em;
    padding: 0.1em;
}

.noticias .card-noticia .texto-noticia .titulo-noticia {
    font-weight: 600;
    padding: 0.1em;
}
.noticias .card-noticia .texto-noticia .descricao-noticia {
    font-weight: 500;
    font-size: 0.9em;
    padding: 0.1em;
}
.noticias .card-noticia .texto-noticia .data-noticia {
    color: #1549B3;
    font-weight: 600;
    font-size: 0.7em;
    padding: 0.1em;
}

